.bs_btn{
    display: flex;
    justify-content: center;
}
.BuyButton{
    margin-right: 10px;
}
.SellButton{
    margin-left: 10px;
}

.quanthead{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.amounthead{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}
.Login-out{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}